@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&display=swap');


@import "tailwindcss";

@theme {
  --font-bbh: "BBH Bartle", sans-serif; 
}

/* LENIS (smooth scrolling) CONFIGURATION */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-scrolling {
  user-select: none;
  pointer-events: none;
}

/* BACKGROUND LAYER CONFIGURATION */
.backgroundLayer {
  @apply absolute inset-0 bg-size-[1500px_auto] bg-bottom bg-repeat-x;
}

/* Keyframes and Animation */
.scrolling-background-1 {
  animation: slide 70s infinite;
}

.scrolling-background-2 {
  animation: slide 40s infinite; 
}

.scrolling-background-3 {
  animation: slide 17s infinite;
}

.scrolling-background-4 {
  animation: slide 10s infinite;
}

.scrolling-background-1, .scrolling-background-2, .scrolling-background-3, .scrolling-background-4 {
  will-change: background-position;
  animation-timing-function: linear;
	animation-direction: normal;
}

@keyframes slide {
  0% { background-position-x: 0; }
  100% { background-position-x: -1500px; }
}

